/* Fonts
---------------------------------------- */

$font-header: 'Cinzel';
$font-body: 'Mate';

/* Colors
---------------------------------------- */

$black: #0C0505;


/* Breakpoints
---------------------------------------- */

$s: 580px;
$m: 940px;


/* Header
---------------------------------------- */

$header-height: 50px;
$header-num-menu-items: 2;

