<header class="site-header">
  <div class="wrapper">
    <h1 class="site-title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    <nav>
      <ul>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <svg version="1.1" class="menu-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
      <line fill="none" stroke="#ffffff" stroke-width="2" stroke-miterlimit="7" x1="0" y1="3" x2="24" y2="3"></line>
      <line fill="none" stroke="#ffffff" stroke-width="2" stroke-miterlimit="7" x1="0" y1="11" x2="24" y2="11"></line>
      <line fill="none" stroke="#ffffff" stroke-width="2" stroke-miterlimit="7" x1="0" y1="19" x2="24" y2="19"></line>
      Menu
    </svg>
  </div>
</header>
